<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExMod.Exiled" version="9.6.0" targetFramework="net48" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="4.0.8" targetFramework="net48" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="4.0.8" targetFramework="net48" />
  <package id="Lib.Harmony" version="2.3.6" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net48" />
  <package id="NationalInstruments.SystemLink.Clients.Core" version="1.1.4" targetFramework="net48" />
  <package id="NationalInstruments.SystemLink.Clients.TestMonitor" version="2.1.8" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
</packages>